* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/92bb3a0b-7e91-40a0-b27b-f2c3ac9ef6e4/b21e3ad9-aa05-4122-b6a8-977eb91d5657/BR-pt-20210322-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
  background-size: cover;
}

#heading {
  background: rgba(0, 0, 0, 0.5);
}

#heading div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#heading .h1 {
  padding: 20px;
  font-size: 30px;
}

#heading a {
  color: red;
  text-decoration: none;
  font-family: sans-serif;
}
